<!DOCTYPE html>
<html ng-app="transitAnalyst" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>
    
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- Include Assets -->
    <script src="assets/js/leaftlet.js"></script>
    <script src="assets/js/topojson.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="assets/css/leaflet.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.css">

  </head>
  <body>
    <div class="map" ui-view="main"></div>
  </body>
</html>
